--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.110.0
uvicorn==0.27.1
httpx==0.27.0
pydantic==2.6.4
langchain-huggingface==0.0.3
langchain-community==0.0.29
langchain-text-splitters==0.0.1
chromadb==0.4.24
pysqlite3-binary==0.5.2.post3
pypdf==4.1.0
docx2txt==0.8
sentence-transformers==2.6.0